* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

html {
    scroll-behavior: smooth;
}

.custom-text-h{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 55px;
    margin: 0px 0px 30px;
    
}

.custom-text-p{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 18px;
    font-size: 18px;
    margin: 0px 0px 30px;
    
}

.navbar {
    overflow:hidden;
    box-shadow: 0 0 5px rgb(0 0 0 / 15%);
    background: white;
    height: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    position: sticky; /*sticks to the screen after you see it https://www.w3schools.com/howto/howto_css_sticky_element.asp*/
    top: 0;
    z-index: 99; /*makes sure nav bar is always visible where ever the user scrolls */
}

.navbar__container {
    display:flex;
    justify-content: space-between; 
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1920px;
    margin: 7%;
    padding: 0 50px;
}

#navbar__logo {
    background-color: lightblue;
    background: rgb(32,140,244);
    background: linear-gradient(90deg, rgba(32,140,244,1) 64%, rgba(43,72,99,1) 64%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight:700;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display:flex;
    align-items:center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;

}

.navbar__links {
    color: #262626;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover {
    color: #208cf4;
    transition: ease-out .1s;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 rem;
    width: 100%;
}

.navbar__divider {
    border-left: 1px solid #262626;
    border-right: 0px solid #262626; 
    height: 16px;
    position: relative;
    opacity: 35%;
    margin-left: 3%;
    margin-right: 3%;
   
}
/* 
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 1px;
    background: #208cf4;
    color: white;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
}

.button:hover { 
    background-color: rgba(43,72,99,1);
    transition: ease-out;
    transition-duration: 300ms;
    transform: scale(1.02);
} */

.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100px;
    border: none;
    outline: none;
    border-radius: 1px;
    background: rgba(43,72,99,1);
}

.button2:hover {
    background-color: #20364A;
    transition: ease-out;
    transition-duration: 300ms;
}



.hero__container {
    background-image: url(img/house-banner4.jpg);
    height: 550px;
    background-size: cover;
}

.hero__content {
    width: 900px;
    margin: 100px 0 120px 10%;
    display: inline-block;
    text-align: left;
}

.hero__content a {
    margin: 24px 0;
    width: 210px;
    padding: .5rem;
    color: white;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1.4px;
}

.hero-search__container form {
    display: flex;
    flex-direction: row;
    width: 700px;
}

.searchButton {
    background: #f6f6f6;
    border: 10px solid #f6f6f6;
    color: #223664;
    width: 45px;
    height: 45px;
    border-radius: 0 5px 5px 0;
    
    cursor: pointer;
    font-size: 20px;
    border: none;
    outline: none;
    
}

.search-bar {
    width: 80%;
    border: 1px solid #fcfcfc;
    background-color: #fafafa;
    padding: 6px;
    height: 45px;
    outline: none;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    
}

.button3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 80%;
    width: 10px;
    border: none;
    outline: none;
    border-radius: 1px;
    background: #208cf4;
    box-shadow: 0 0 5px rgb(0 0 0 / 5%);
    
}

.review__content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    max-height: 224px;

}

.review__items{
    margin: 2.5rem;
    padding: 1rem;
    max-width: 249px;
    align-items: center;
}

.review-items-p{
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}

.review-items-img {
    margin-bottom: 20px;
}

.review-items-inner {   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-anchor {
    height: 100px;
}

.scroll-anchor #scroll-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 45px;
    animation: bouncearrow 2.75s infinite; /*links to @keyframes bouncearrow*/ /*infinite bounce loop*/
    transition: ease-in-out 1s;

}
 
@keyframes bouncearrow { /*creates an animation for #scroll-btn called 'bouncearrow'*/
    0%{top: 0px; opacity: .4;}
    50%{top: 20px; opacity: .4;}
    100%{top: 0px; opacity: .4;}
}

#help {
    background-color: #FAFAFA;
}

.help-section {
    padding-top: 40px;
    background-color: #FAFAFA;
    padding-bottom: 40px;
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
}


#help-container{
    color: black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}

.help__content {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.help__items {
    background-color:#Fdfdfd;
    margin: 3.5rem;
    padding: .75rem;
    text-align: center;
    display: block;
    border: 1px solid #f5f5f5;
    box-shadow: rgb(211 211 215) 0px 5px 15px;
    width: 400px;
    height: 410px;
    
    
}

.help__items:hover {
    background-color:#Fcfcfc;
    margin: 3.5rem;
    padding: .75rem;
    text-align: center;
    display: block;
    border: 1px solid #f5f5f5;
    box-shadow: rgb(183 183 190) 0px 7px 17px;
    width: 400px;
    height: 410px;
    transition: ease-in-out;
    transition-duration: 200ms;
    transform: scale(1.03);
    cursor:pointer;
}

.help__items h3 {
    padding: 1.5rem;
    font-size: 1.5rem;
}

.help__items p {
    font-size: 16px;
    padding: 1.5rem;
    color: #525975;
}


.help-item-img {
    height: 150px;
    
}

.help-item-button {
    max-width: 350px;
    height: 2rem;
    margin: 0 auto; /* centers an item */
    padding: 1.5rem;
    
}


#app-section {
    padding-top: 40px;
    background-color: #c9d1db;
    padding-bottom: 40px;

}

#app-section p {
    font-size: 16px;
}

.app {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    
}

.app-background {
    background-image: url(img/appwall1.jpg);
    height:500px;
    max-width: 750px;
    margin: 0 auto;
    
}

.app h3 {
    font-size: 48px;
    margin-bottom: .5em;
}

#stars {
    margin: 20px;
    height: 35px;
}

#footer {
    background-color: #F3F3F3;
    padding-top: 20px;
}

#footer p {
    font-size: 12px;
}

#footer-row-p {
    font-size: 18px;
    margin-top: 2%;
}

.footer__content {
    background-color: #F3F3F3;
    color: #000;
    margin-left: 5%;
    margin-right: 5%;    
}


.footer__content b {
    color: rgba(43,72,99,1);
}

.footer__content a {
    color: #464646;
}


.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    /* border-bottom: 1.5px solid;
    border-color: #939393; */
    padding-top: 60px;
}

.footer-row-1-b {
    display:flex;
    align-content: space-between;
    flex-direction: row;    
    
}

.footer-row-1-b a {
    color: black;
    
}

#footer-row-1-b-button {
    padding-right: 100px;
}

#footer-logo {
    font-size: 1.5rem;
    background: rgb(32,140,244);
    background: linear-gradient(90deg, rgba(32,140,244,1) 64%, rgba(43,72,99,1) 66%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;;
}

.footer-logo p {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
}

.footer-links {
    display: flex;
    flex-direction: row;

}

.social-links-row {
    display: flex;
    flex-direction: row;

}

.social-links {
    max-height: 40px;
    margin: 8px;
    padding-right: 3px;
    background: #464646;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    
}

.social-links:hover {
    max-height: 40px;
    margin: 8px;
    padding-right: 3px;
    background: #0075da;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    cursor: pointer;
    transition: all .8 ease-in 0s;
}

.footer-links-columns {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}

.footer-links-columns b {
    margin: 20px 0;
    font-size: 16px;
}

.footer-links-columns a {
    padding: 3px 0px 15px;
    font-size: 15px;
    text-decoration: none;
}

.footer-links-columns a:hover {
    padding: 3px 0px 15px;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    transition: all .8 ease 0s;
    color: #0075da;
}

#footer-bottom-row {
    padding-bottom: 50px;
}

#footer-bottom-row b {
    font-size: 16px;
}


.footer-row-ab{
    padding-left: 30px;
    text-decoration: none;
}

.footer-row-ab:hover{
    padding-left: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: all .8 ease 0s;
    color: #0075da;
}

.footer-subscribe {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}

.footer-margin-left-class{
    margin-left: 25px;
}

*, ::before, ::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

