* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.custom-text-h{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    
    
}

.custom-text-p{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 22px;
    font-size: 16px;
    padding: 10px 0;
    
}

.navbar {
    box-shadow: 0 0 5px rgb(0 0 0 / 15%);
    background: white;
    height: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky; /*sticks to the screen after you see it https://www.w3schools.com/howto/howto_css_sticky_element.asp*/
    top: 0;
    z-index: 999; /*makes sure nav bar is always visible where ever the user scrolls */
}

.navbar__container {
    display:flex;
    justify-content: space-between; 
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: lightblue;
    background: rgb(32,140,244);
    background: linear-gradient(90deg, rgba(32,140,244,1) 64%, rgba(43,72,99,1) 64%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight:700;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display:flex;
    align-items:center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;

}

.navbar__links {
    color: #262626;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover {
    color: #208cf4;
    transition: ease-out .1s;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 1px;
    background: #208cf4;
    color: white;
}

.button:hover { 
    background-color: rgba(43,72,99,1);
    transition: ease-out;
    transition-duration: 300ms;
    transform: scale(1.05);
}

.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100px;
    border: none;
    outline: none;
    border-radius: 1px;
    background: rgba(43,72,99,1);
}

.button2:hover {
    background-color: #20364A;
    transition: ease-out;
    transition-duration: 300ms;
}

.hero__container {
    background-image: url(img/house-banner4.jpg);
    height: 550px;
    background-size: cover;
}

.hero__content {
    width: 600px;
    margin: 100px 0 120px 10%;
    display: inline-block;
    text-align: left;
}

.hero__content a {
    margin: 24px 0;
    width: 210px;
    padding: .5rem;
    color: white;
}

.hero-search__container form {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.search-bar {
    width: 80%;
    border: 10px solid #f6f6f6;
    background-color: #f6f6f6;
    padding: 6px;
    height: 45px;
    outline: none;
    
}

.button3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 80%;
    width: 10px;
    border: none;
    outline: none;
    border-radius: 1px;
    background: #208cf4;
    box-shadow: 0 0 5px rgb(0 0 0 / 5%);
    
}

.review__content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    max-height: 224px;

}

.review__items{
    margin: 2.5rem;
    padding: 1rem;
    max-width: 249px;
    align-items: center;
}

.review-items-inner {   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-anchor {
    height: 100px;
}

.scroll-anchor #scroll-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 45px;
    animation: bouncearrow 2.75s infinite; /*links to @keyframes bouncearrow*/ /*infinite bounce loop*/
    transition: ease-in-out 1s;

}
 
@keyframes bouncearrow { /*creates an animation for #scroll-btn called 'bouncearrow'*/
    0%{top: 0px; opacity: .4;}
    50%{top: 20px; opacity: .4;}
    100%{top: 0px; opacity: .4;}
}

#help-section {
    padding-top: 40px;
    background-color: #FAFAFA;
    padding-bottom: 40px;
}

.help {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

#help-container{
    
    color: black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.help__content {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.help__items {
    background-color:#Fdfdfd;
    margin: 3rem;
    padding: .5rem;
    text-align: center;
    display: block;
    border: 1px solid #f5f5f5;
    box-shadow: 0 5px 25px rgb(0 0 0 / 10%);
    
}

.help__items h3 {
    padding: 1.5rem;
    font-size: 1.5rem;
}

.help__items p {
    font-size: 14px;
    padding: 1.5rem;
    color: #525975;
}


.help-item-img {
    height: 150px;
}

.help-item-button {
    max-width: 350px;
    height: 2rem;
    margin: 0 auto; /* centers an item */
    padding: 1.5rem;
}

.review-items-p{
    text-align: center;
    font-size: 12px;
}

.app__content h3 {
    margin: 5px;
}

#stars {
    margin: 20px;
    height: 35px;
}

.footer__content {
    background-color: #E2E2E2;
    color:  #549595F;
    
    
}


.footer__content b {
    color: rgba(43,72,99,1);
}

.footer__content a {
    color: #464646;
}

.footer__main {

}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    border-bottom: 1px solid;
    border-color: #939393;
    padding-bottom: 40px;
    padding-top: 40px;
}

.footer-logo {
    
}

#footer-logo {
    font-size: 1.5rem;
}

.footer-logo p {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: .85rem;
}

.footer-links {
    display: flex;
    flex-direction: row;

}

.social-links-row {
    display: flex;
    flex-direction: row;

}

.social-links {
    max-height: 40px;
    margin: 8px;
    padding-right: 3px;
    background: #464646;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    
}

.social-links:hover {
    max-height: 40px;
    margin: 8px;
    padding-right: 3px;
    background: #208cf4;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    cursor: pointer;
    transition: all .8 ease-in 0s;
}

.footer-links-columns {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}

.footer-links-columns b {
    padding-bottom: 10px;
    font-size: 1rem;
}

.footer-links-columns a {
    padding-bottom: 10px;
    font-size: .85rem;
    text-decoration: none;
}

.footer-links-columns a:hover {
    padding-bottom: 10px;
    font-size: .85rem;
    text-decoration: none;
    cursor: pointer;
    transition: all .8 ease 0s;
    color: #208cf4;
}

.footer-row-ab{
    padding-left: 30px;
    text-decoration: none;
}

.footer-row-ab:hover{
    padding-left: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: all .8 ease 0s;
    color: #208cf4;
}

*, ::before, ::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

